.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    position: relative;
    background: #097b2d;
    border-bottom: 1px solid #3e9834;

    &--shadow {
        box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 12%);
        // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
    &__logo {
        width: 80px;
        position: absolute;
        left: 2rem;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        padding: 1rem 0;

        .nav__link {
            background: none;
            border: none;
            color: black;
            text-decoration: none;
            text-transform: capitalize;
            text-align: left;
            border-radius: 5px;
            font-size: 18px;
            font-family: $secondary;
            margin: 0 1rem;
            position: relative;
            cursor: pointer;
            transition: all 0.3s ease-in;

            &:after {
                position: absolute;
                content: "";
                height: 3px;
                width: 100%;
                top: 100%;
                left: 0;
                background: #ee4848;
                transition: transform 0.5s;
                transform: scaleX(0);
                transform-origin: right;
            }
            &:hover:after {
                transform: scaleX(1);
                transform-origin: left;
            }
            &--category {
                margin: 0;
                border-radius: 0;
                padding: 8px 16px;
                &:after {
                    content: "";
                    background: none;
                }
                &:hover {
                    background: #ee4848;
                }
            }
            &.active {
                &:after {
                    position: absolute;
                    content: "";
                    height: 3px;
                    width: 100%;
                    top: 100%;
                    left: 0;
                    background: #ee4848;
                    transition: transform 0.5s;
                    transform: scaleX(1);
                    transform-origin: right;
                }
            }
        }

        .nav__logo {
            width: 150px;
            margin: 0 4rem;
        }
        .dropdown-menu {
            z-index: 500;
            position: relative;
            .dropdown-menu__categories {
                background: #f1c40f;
                min-width: max-content;
                left: 16px;
                top: 32px;
                position: absolute;
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                // padding: 10px 0;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                transition: display 0.5s ease-in;
            }
            .active {
                opacity: 1;
                visibility: visible;
            }
            .inactive {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
